*{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

.header {
    background-color: #F6F7F8;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 80px;
    list-style: none;
    padding: 0 5%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header #navigation {
    display: block;
    float: right;
    height: 100%;
    width: 100%;
}

.header #navigation a {
    color: #333;
}

.header #navigation .logo {
    background-color: #46953A;
    -webkit-box-shadow: 0px 1px 3px;
            box-shadow: 0px 1px 3px;
    float: left;
    height: 80px;
    padding: 13px 0px 0 22px;
    text-align: center;
    width: 195px;
}

.header #navigation .logo:hover {
    background-color: #46B43A;
}

.header ul {
    float: left;
    height: 100%;
    margin: 0;
}

.header li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #333;
    display: inline-block;
    height: 100%;
    list-style-type: none;
    padding: 30px 30px;
}

.header li:hover {
    border-bottom: 2px solid #46953A;
    color: #000;
}

.header img {
    float: left;
    height: 50px;
    margin-top: 10px;
    width: 170px;
}

.header label {
    margin: 7px;
    font-size: 25px;
    line-height: 70px;
    display: none;
}

.header #toggle {
    display: none;
}

#help-us {
    background-color: #e1e1e180;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 2%;
    padding: 15px 5%;
}

#help-us:hover {
    background-color: #46953A;
    color: #FFF;
}

@media only screen and (max-width: 460px) {
    #help-us {
        display: none;
    }
}

@media only screen and (max-width: 1070px) {
    .header label {
        cursor: pointer;
        display: block;
    }

    .header ul {
        display: none;
        left: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .header li {
        background-color: #F6F7F8;
        border-bottom: 1px solid #EAEAEB;
        width: 100%;
    }

    .header ul a {
        display: block;
    }

    .header #toggle:checked + ul {
        display: block;
        margin-top: 80px;
    }

    .header label {
        float: right;
    }

    .header label:hover {
        color: #646464;
    }
}


/*HOME*/

#home {
    background: url("../img/5pastorrua.png") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 2000px;
    border-bottom: 4px solid #F6F7F8;
    height: 100%;
}

#home .back {
    background-color: rgba(131, 167, 35, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 80px;
    margin: 0;
}

#home .one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap column;
            flex-flow: nowrap column;
    float: center;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

#home h1 {
    color: #FFF;
    font-family: "Oswald";
    font-size: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#home #line-title {
    border-bottom: 3px solid #FFF;
    height: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    min-width: 230px;
    width: 50%;
}

#home .countdown {
    color: #FFF;
    font-family: "Oswald";
    font-size: 45px;
    text-transform: uppercase;
}

@media only screen and (max-width: 350px) {
    #home h1 {
        font-size: 40px;
    }

    #home .countdown {
      font-size: 30px;
    }
}

@media only screen and (max-height: 500px) {
    #home .box {
        padding-top: 8%;
    }

    #home {
        height: 160%;
    }

    #home h1 {
        font-size: 40px;
    }

    #home .countdown {
      font-size: 30px;
    }
}

/*SOBRE*/

#about {
    background-color: #FFF;
    border-bottom: 2px solid #FFF;
    height: 100%;
}

#about .box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    height: 100%;
    width: 100%;
}

#about #img-about {
    background-image: url("../img/ramonmodifyagain.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 30%;
}

#about .description {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap column;
            flex-flow: nowrap column;
    float: right;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    padding: 80px;
    width: 70%;
}

#about .description h2 {
    padding-bottom: 30px;
    text-transform: uppercase;
}

#about .description p {
    color: #424242;
    line-height: 150%;
    text-align: justify;
    text-indent: 40px;
}

@media only screen and (max-width: 685px) {
    #about .description {
        padding: 15px;
    }
}

@media only screen and (max-width: 484px) {
    #about #img-about {
        display: none;
    }

    #about .description {
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    #about {
        height: 150%;
    }
}

/*RESUMO*/
#resume {
    background-attachment: fixed;
    background-image: url('../img/coral.png') ;
    background-size: cover;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #FFF;
    width: 100%;
}

#resume .back {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

#resume .box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 70px 0;
    width: 100%;
}

#resume .little-box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 30px;
    min-width: 210px;
    padding: 0 27px;
    text-align: center;
    width: calc(100%/4);
}

#resume .little-box i {
    font-size: 70px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 850px) {
  #resume .little-box {
      width: calc(100%/2);
  }
}

@media only screen and (max-width: 430px) {
  #resume .little-box {
      margin-top: 50px;
  }
}

/*PILARRES*/

#pillars {
    padding: 40px;
}

#pillars .box {
    border-bottom: 2px solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 40px;
    padding-top: 0;
}

#pillars .box-child {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap column;
            flex-flow: nowrap column;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 210px;
    padding: 15px;
    text-align: center;
    width: calc(100%/3);
}

#pillars .box-i {
    border-radius: 64px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 130px;
    margin: 0 auto;
    padding: 16px;
    width: 130px;
}

#pillars .box-child i {
    color: #000;
    font-size: 80px;
    padding-top: 10px;
}

#pillars .box-child h3 {
    font-weight: 500;
    margin: 15px 0;
}

#pillars .box-child p {
    color: #424242;
    font-size: 14px;
    text-indent: 0px;
    text-align: center;
}

#pillars .box-child:hover > .box-i {
    background-color: #000;
    border: 2px solid #000;
}

#pillars .box-child:hover > .box-i i {
    color: #FFF;
}

/*TEAM*/

#team {
    padding: 50px;
}

#team h2 {
    padding-bottom: 40px;
}

#team .team-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#team .box-team {
    background-color: #F0F0F0;
    -webkit-box-shadow: 4px 5px 8px #000;
            box-shadow: 4px 5px 8px #000;
    height: 260px;
    margin: 30px 20px;
    width: 150px;
}

#team .box-team:hover {
    background-color: #46953A;
    color: #FFF;
}

#team .team-pic img {
    height: 150px;
    width: 150px;
}

#team .team-text {
    padding: 20px 10px;
}

#team .team-text h3 {
    font-size: 15px;
}

#team .team-text p {
    font-size: 12px;
}

/* CONTATO */
/* #contact-us {
    height: 60%;
    padding: 80px 10%;
}

#contact-us .input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

#contact-us .input label {
    margin-right: 15px;
}

#contact-us .input .element {
    width: 80%;
}

#contact-us .input #send {
    cursor: pointer;
}

#contact-us .input textarea {
    resize: none;
}

#contact-us fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
} */

/* ABOUTPAGE */

#about-page {
    margin-top: 80px;
    min-height: 100%;
}

#about-page .description {
    line-height: 25px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: justify;
    width: 80%;
}

#about-page .description h2, h3 {
    font-weight: bold;
}

#about-page .img-about {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 80%;
}

#about-page #first {
    background-image: url(../img/abrantes.jpg);
}

#about-page #second {
    background-image: url(../img/acampamento3.jpg);
}

#about-page #third {
    background-image: url(../img/acampamento6.jpg);
}

#about-page h2 {
    margin-bottom: 30px;
    margin-top: 100px;
}

/* helpuspage */

#helpus-page {
    margin-top: 80px;
    min-height: 100%;
}

#helpus-page .description {
    line-height: 25px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: justify;
    width: 80%;
}

#helpus-page .description .box-text {
    border-top: 2px solid #515151;
    margin: 0 auto;
    padding-top: 40px;
    width: 90%;
}

#helpus-page .description p {
    color: #424242;
    margin-bottom: 60px;
}

#helpus-page .description h2 {
    float: none;
    padding: 30px;
}

#helpus-page .description h2, h3 {
    font-weight: bold;
}

#helpus-page .img-helpus {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-top: 10px;
    width: 200px;
}

#helpus-page #first {
    background-image: url(../img/pray.jpg);
}

#helpus-page #second {
    background-image: url(../img/pambrasil.jpg);
}

#helpus-page #third {
    background-image: url(../img/radicalbrasil.png);
    height: 110px;
    margin-top: 50px;
}

#helpus-page h2 {
    float: left;
    margin-bottom: 30px;
    margin-top: 100px;
}

@media only screen and (max-width: 690px) {
    #helpus-page .img-helpus {
        float: none;
        margin: 0 auto;
    }
}

/*FOOTER*/

.foot {
    background-color: #46953A;
    color: #FFF;
    padding: 50px 40px;
}

.foot #foot-superior {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}

#foot-superior .content-inner {
    font-size: 13px;
    min-width: 277px;
    text-align: center;
    width: calc(100%/3);
}

#foot-superior .content-inner .socialmedia {
    font-size: 22px;
    padding: 5px;
}

#foot-superior .content-inner .socialmedia:hover {
    color: #333;
}

#foot-superior .content-inner a:link, a:visited {
    color: #424242;
}

.copyright {
    background-color: #000;
    color: #FFF;
    height: 60px;
    font-size: 12px;
}

.copyright p {
    padding: 20px 0 0 40px;
}
