*{
    font-family: 'Realeway', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

.header {
    background-color: #F6F7F8;
    border-bottom: 1px solid #E7E7E7;
    box-sizing: border-box;
    height: 80px;
    list-style: none;
    padding: 0 5%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header #navigation {
    display: block;
    float: right;
    height: 100%;
    width: 100%;
}

.header #navigation a {
    color: #333;
}

.header #navigation .logo {
    background-color: #46953A;
    box-shadow: 0px 1px 3px;
    float: left;
    height: 80px;
    padding: 13px 0px 0 22px;
    text-align: center;
    width: 200px;
}

.header #navigation .logo:hover {
    background-color: ##46B43A;
}

.header ul {
    float: left;
    height: 100%;
    margin: 0;
}

.header li {
    box-sizing: border-box;
    color: #333;
    display: inline-block;
    height: 100%;
    list-style-type: none;
    padding: 30px 30px;
}

.header li:hover {
    border-bottom: 2px solid #46953A;
    color: #000;
}

.header img {
    float: left;
    height: 50px;
    margin-top: 10px;
    width: 170px;
}

.header label {
    margin: 7px;
    font-size: 46px;
    line-height: 70px;
    display: none;
}

.header #toggle {
    display: none;
}

#help-us {
    border-radius: 35px;
    border-style: none;
    box-shadow: 2px 5px 3px #888;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 2%;
    padding: 15px 5%;
}

#help-us:hover {
    background-color: #46953A;
    color: #FFF;
}

@media only screen and (max-width: 415px) {
    #help-us {
        display: none;
    }
}

@media only screen and (max-width: 1070px) {
    .header label {
        cursor: pointer;
        display: block;
    }

    .header ul {
        display: none;
        left: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .header li {
        background-color: #F6F7F8;
        border-bottom: 1px solid #EAEAEB;
        width: 100%;
    }

    .header ul a {
        display: block;
    }

    .header #toggle:checked + ul {
        display: block;
        margin-top: 80px;
    }

    .header label {
        float: right;
    }

    .header label:hover {
        color: #646464;
    }
}


/*HOME*/

#home {
    background: url("../img/5pastorrua.png") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 2000px;
    border-bottom: 4px solid #F6F7F8;
    height: 100%;
}

#home .back {
    background-color: rgba(131, 167, 35, 0.4);
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    justify-content: center;
    padding-top: 80px;
    margin: 0;
}

#home .one {
    flex-flow: nowrap column;
    float: center;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

#home h1 {
    color: #FFF;
    font-family: "Oswald";
    font-size: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#home #line-title {
    border-bottom: 3px solid #FFF;
    height: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    min-width: 230px;
    width: 50%;
}

#home .countdown {
    color: #FFF;
    font-family: "Oswald";
    font-size: 45px;
    text-transform: uppercase;
}

@media only screen and (max-width: 350px) {
    #home h1 {
        font-size: 40px;
    }

    #home .countdown {
      font-size: 30px;
    }
}

@media only screen and (max-height: 500px) {
    #home .box {
        padding-top: 8%;
    }

    #home {
        height: 150%;
    }

    #home h1 {
        font-size: 40px;
    }

    #home .countdown {
      font-size: 30px;
    }
}

/*SOBRE*/

#about {
    background-color: #FFF;
    border-bottom: 2px solid #FFF;
    height: 100%;
}

#about .box {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap column;
    height: 100%;
    width: 100%;
}

#about #img-about {
    background-image: url("../img/acampamento4.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 30%;
}

#about .description {
    box-sizing: border-box;
    display: flex;
    flex-flow: nowrap column;
    float: right;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    padding: 80px;
    width: 70%;
}

#about .description h2 {
    padding-bottom: 30px;
    text-transform: uppercase;
}

#about .description p {
    line-height: 150%;
    text-align: justify;
    text-indent: 40px;
}

@media only screen and (max-width: 685px) {
    #about .description {
        padding: 15px;
    }
}

@media only screen and (max-width: 484px) {
    #about #img-about {
        display: none;
    }

    #about .description {
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    #about {
        height: 150%;
    }
}

/*PILARRES*/

#pillars {
    height: 50%;
}

#pillars .box {
    display: flex;
    flex-flow: wrap row;
    height: 100%;
    justify-content: center;
    padding-top: 0;
}

#pillars .box-child {
    box-sizing: border-box;
    display: flex;
    flex-flow: nowrap column;
    height: 100%;
    justify-content: center;
    padding: 15px;
    text-align: center;
    width: 30%;
}

#pillars .box-i {
    border-radius: 64px;
    box-sizing: border-box;
    height: 130px;
    margin: 0 auto;
    padding: 16px;
    width: 130px;
}

#pillars .box-child i {
    color: #000;
    font-size: 80px;
    padding-top: 10px;
}

#pillars .box-child h3 {
    font-weight: 500;
    margin: 15px 0;
}

#pillars .box-child p {
    font-size: 14px;
    text-indent: 0px;
    text-align: center;
}

#pillars .box-child:hover > .box-i {
    background-color: #000;
    border: 2px solid #000;
}

#pillars .box-child:hover > .box-i i {
    color: #FFF;
}

@media only screen and (max-width: 690px) {
    #pillars {
        background-color: #2ecc71;
        height: 100%;
    }

    #pillars .box-child {
        height: 50%;
        width: 200px;
    }
}

@media only screen and (max-width: 400px) {
    #pillars {
        height: 150%;
    }

    #pillars .box-child {
        height: 25%;
        margin-top: 18px;
        width: 100%;
    }

    #pillars .box-child i {
        font-size: 60px;
    }

    #pillars .box-i {
        height: 100px;
        padding: 15px;
        width: 100px;
    }

    #pillars .box-child:hover > .box-i {
        border: 2px solid #FFF;
    }
}

/*RESUMO*/
#resume {
    background-attachment: fixed;
    background-image: url('../img/coral.png') ;
    background-size: cover;
    box-sizing: border-box;
    color: #FFF;
    display: inline-block;
    height: 50%;
    width: 100%;
}

#resume .box {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding: 7%;
    width: 100%;
}

#resume .back {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

#resume .little-box {
    display: inline-block;
    float: left;
    height: 100%;
    margin-right: 2%;
    margin-left: 2%;
    padding: 0 27px;
    text-align: center;
    width: 15%;
}

#resume .little-box i {
    font-size: 70px;
    margin-bottom: 20px;
}

#resume #clock-o {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}

@media only screen and (max-width: 690px) {
    #resume {
        height: 100%;
    }

    #resume .box {
        display: inline-block;
        padding: 160px 10px;
    }

    #resume .little-box {
        float: none;
        height: 200px;
        width: 35%;
    }

    #resume #date {
        float: left;
    }

    #resume #congressmen {
        float: right;
    }

    #resume #ic-speaker {
        float: left;
    }

    #resumo #clock-o {
        float: right;
        margin-right: 2%;
        margin-left: 2%;
        padding: 0 27px;
    }
}


/*PARCEIROS*/

#helpers {
    background-color: #F3F3F3;
    border-top: 4px solid #548B54;
    height: 50%;
}

#helpers h2 {
    margin: 0;
    margin-left: 40px;
    padding: 30px 0;
}

#helpers .box {
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#helpers .helper {
    background-color: #FFF;
    box-shadow: 3px 3px 9px #000;
    flex-basis: 0;
    height: 100px;
    margin: 20px 3px;
    padding: 0px;
    width: 100px;
}

#helpers .helper-pic img {
    height: 100px;
    width: 100px;
}

#helpers .helper-text {
    margin: 10px;
    text-align: center;
}

#helpers h3 {
    margin: 10px;
    text-align: center;
}

#helpers .helper:hover {
    background-color: #F3F0F9;
}

/* CONTATO */
#contact-us {
    height: 60%;
    padding: 80px 10%;
}

#contact-us .input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

#contact-us .input label {
    margin-right: 15px;
}

#contact-us .input .element {
    width: 80%;
}

#contact-us .input #send {
    cursor: pointer;
}

#contact-us .input textarea {
    resize: none;
}

#contact-us fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

/* ABOUTPAGE */

#about-page {
    margin-top: 80px;
    min-height: 100%;
}

#about-page .description {
    line-height: 25px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: justify;
    width: 80%;
}

#about-page .description h2, h3 {
    font-weight: bold;
}

#about-page .img-about {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 80%;
}

#about-page #first {
    background-image: url(../img/abrantes.jpg);
}

#about-page #second {
    background-image: url(../img/acampamento3.jpg);
}

#about-page #third {
    background-image: url(../img/acampamento6.jpg);
}

#about-page h2 {
    margin-bottom: 30px;
    margin-top: 100px;
}

/* helpuspage */

#helpus-page {
    margin-top: 80px;
    min-height: 100%;
}

#helpus-page .description {
    line-height: 25px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: justify;
    width: 80%;
}

#helpus-page .description .box-text {
    border-top: 2px solid #515151;
    margin: 0 auto;
    padding-top: 40px;
    width: 90%;
}

#helpus-page .description p {
    color: #424242;
    margin-bottom: 60px;
}

#helpus-page .description h2 {
    float: none;
    padding: 30px;
}

#helpus-page .description h2, h3 {
    font-weight: bold;
}

#helpus-page .img-helpus {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-top: 10px;
    width: 200px;
}

#helpus-page #first {
    background-image: url(../img/pray.jpg);
}

#helpus-page #second {
    background-image: url(../img/pambrasil.jpg);
}

#helpus-page #third {
    background-image: url(../img/radicalbrasil.png);
    height: 110px;
    margin-top: 50px;
}

#helpus-page h2 {
    float: left;
    margin-bottom: 30px;
    margin-top: 100px;
}

@media only screen and (max-width: 690px) {
    #helpus-page .img-helpus {
        float: none;
        margin: 0 auto;
    }
}

/*FOOTER*/

.footer {
    background-color: #000;
    padding: 120px;
}

.footer h2 {
    color: #FFF;
    text-align: center;
}
